<%@ Page Title="" Language = "C#" MasteerPageFile="~/Views/Shared/BlogMaster.Master"
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
